[submodule "Assets/Wayway/Engine/Events"]
	path = Assets/Wayway/Engine/Events
	url = https://github.com/waywaystudio/GameEvent.git
[submodule "Assets/Project/Utility/UnityGoogleSheet"]
	path = Assets/Project/Utility/UnityGoogleSheet
	url = https://github.com/waywaystudio/UnityGoogleSheet.git
[submodule "Assets/Wayway/Engine/Core"]
	path = Assets/Wayway/Engine/Core
	url = https://github.com/waywaystudio/Extra.git
