[submodule "Assets/Wayway/Engine/Events"]
	path = Assets/Wayway/Engine/Events
	url = https://github.com/waywaystudio/GameEvent.git
[submodule "Wayway/Engine/UnityGoogleSheet"]
	path = Wayway/Engine/UnityGoogleSheet
	url = https://github.com/waywaystudio/UnityGoogleSheet.git
