[submodule "Assets/Wayway/Engine/Events"]
	path = Assets/Wayway/Engine/Events
	url = https://github.com/waywaystudio/GameEvent.git
[submodule "Assets/Wayway/Engine/UnityGoogleSheet"]
	path = Assets/Wayway/Engine/UnityGoogleSheet
	url = https://github.com/waywaystudio/UnityGoogleSheet.git
[submodule "Assets/Wayway/Engine/Extra"]
	path = Assets/Wayway/Engine/Extra
	url = https://github.com/waywaystudio/Extra.git
